html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: repeat;
}

.cabin-400 {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.cabin-500 {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.cabin-600 {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.cabin-700 {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.container-grid-table {
    display: grid;
    grid-template-columns: 1fr 1.5fr 3.5fr;
}

/* Mengatur grid 3 kolom */
.item-3 {
    display: flex;
    padding: 2px 6px;
    justify-content: start;
    align-items: start;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
.item-3:nth-child(1), .item-3:nth-child(2), .item-3:nth-child(3) {
    border-top: 1px solid black;
    justify-content: center;
}
.item-3:nth-child(3n) {
    border-right: 1px solid black;
}

.bg-form-30 {
    background-color: rgb(255, 255, 255, 0.3);
}